/* Reset */

* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    font-size: 100%;
}

/* Navbar */

.navbar {
    background-color: transparent;
}
.nav-link, navbar-brand, #logo, #carrito  {
    margin-left: 1.5rem;
    margin-right: 5rem;
    color: white !important;
    font-weight: bolder;
}
.nav-link:hover {
    color: #F9BA48 !important;
    transition: 0.2s ease-in-out;
}

/* Page */

header {
    background-color: transparent;
    width: 100%;
    position: fixed;
    z-index: 999;
}
section {
    width: 100%;
    height: 100vh;
    float: left;
    position: relative;
}
.H {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* Home */

#home {
    background-image: url(/assets/skate2.jpg);
    background-size: cover;
    background-position-y: 45%;
    background-position-x: 40%;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

/* Productos */

#productos {
    background-image: url(/assets/skate.jpg);
    background-size: cover;
    background-position-y: 3%;
    background-position-x: 40%;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

/* Contenidos */

#contenidos {
    background: black;
    border-top: 2px solid #F9BA48;
    border-bottom: 2px solid #F9BA48;
    background-size: cover;
    width: 100%;
    height: max-content;
    
}

#container-contenidos {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;

}

#row-contenidos {
    padding: 4rem;
}

.pad-contenidos {
    padding: 1rem 2rem 1rem 2rem;
}

.contenidos-img {
    height: fit-content;
    width: fit-content;
}

.p-contenidos {
    color: white;
    font-weight: 500;
    font-size: larger;
    padding-top: 20px;
}

strong {
    color: #F9BA48;
}

/* Boards */

#tienda {
    background-image: url(/assets/skate3-blur.jpg);
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
    width: 100%;
    height: max-content;
}

#container-tienda {
    margin-top: 5em;
    margin-bottom: 5em;
}

#board-card {
    padding: 30px;
    background-color: transparent;
    color: white;
    border: none;
}

.card-body {
    border-radius: 50px;
}

#boton-cards {
    border: 1px solid #F9BA48;
    color: white;
    font-weight: bold;
    background-color: #F9BA48;
}

#boton-cards:hover {
    background-color: transparent;
    color: #F9BA48;
    transition: 0.2s ease-in-out;
}

.board-1 {
    height: 100%;
    width: auto;
}

/* Contacto */

#contacto {
    background-color: black;
    border-top: 2px solid #F9BA48;
    border-bottom: 2px solid #F9BA48;
    height: max-content;
}

#container-contacto {
    margin-top: 5em;
    margin-bottom: 5em;
}

.h1-contacto {
    color: #F9BA48;
    padding-bottom: 1em;
}

#boton-contacto {
    border-radius: 2px;
    color: white;
    font-weight: bold;
    background-color: #F9BA48;
}

#boton-contacto:hover {
    background-color: transparent;
    color: #F9BA48;
    transition: 0.2s ease-in-out;
}

/* Footer */

#footer {
    background-color: black;
    width: 100%;
    height: max-content;
    border-top: 2px solid black;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/assets/wave-orange-2png.png);
}

#copyright {
    background-color: black;
}
